.benefits{
    min-height: 500px;
    padding: 70px 0 70px 0;
    background-color: #F6F6F6;
    &__wrapper{
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        text-align: center;
        margin-top: 38px;
    }
    &__descr{
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        margin-top: 22px;
        text-align: center;
        a{
            text-decoration-line: underline;
            color: $main-color;
        }
    }
}