.footer{
    height: 560px;
    position: relative;
    &__info{
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 240px;
        background: $main-color;
        padding: 40px 68px 35px 68px;
    }
    &__addr{
        margin-bottom: 36px;
        font-weight: 500;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone{
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        display: block;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 38px;
        &:hover{
            color: #FFFFFF;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 2px solid #FFFFFF;
            border-radius: 100%;
            margin: 0 15px;
            transition: 0.5s all;
            &:hover{
                box-shadow: 3px 3px 20px #FFFFFF;
            }
            img{
                height: 27px;
            }
        }
    }
    
}